.hero {
	margin: 100px auto;
}

.hero .container {
	display: flex;
	justify-content: space-between;
	margin: 0 37.5vh;
}

.hero .container .main-info {
	width: 60%;
	max-width: 415px;
	padding: 20px;
}

.hero .container .main-info h1 {
	font-size: 35px;
	line-height: 50px;
}

.hero .container .main-info p {
	font-size: 18px;
	margin: 15px 0;
}

.hero .container .img img {
	width: 250px;
}

