/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./navbar.css");

/* scrollbar, progress bar and selector */
::-webkit-scrollbar {
	background-color: #212121;
}

::-webkit-scrollbar-thumb,
::-webkit-progress-bar {
	background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
}

::selection {
	background: var(--accent);
	color: white;
}

/* body */
body {
	font-family: "Poppins";
	background: #212121;
	color: white;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--accent);
}

a {
	color: inherit;
	text-decoration: none;
}

#laura {
	text-transform: uppercase;
	font-family: "DM Sans" !important;

}

/* button */
button,
.cta {
	outline: none;
	border: none;
	border-radius: 10px;
	background: var(--accent);
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	color: black;
}

button:hover,
.cta:hover {
	background: var(--hover);
	color: black;
}

/* footer and header */
#selected {
	color: var(--accent);
	font-weight: bold;
}
/* main section */
main {
	margin: 0 37.5vh;
}

main>a {
	color: #2ac76f;
}

@media only screen and (max-width: 1024px) {
	main {
		margin: 20px;
	}
}